
body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #81B076;
}
.login-container {
  background-color: white;
  width: 20%;
  padding: 20px;
  text-align: center;
  border: 2px solid white;
  border-radius: 5px;
  height: 45vh;
}
h2{
  color: #81B076;
  font-size: 50px;
  font-weight: lighter;
}
.disclaimer{
  color: grey;
  padding-bottom:20px;
  margin-bottom:20px
}

.form-group{
  padding: 10px;
  padding-top: 20px;
}

.ForgottenPassword{
  padding: 20px;
  color: grey;
}

.ForgottenPasswordLink{
  color: cornflowerblue;
}

.ForgottenPasswordLink:hover{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.LoginButton{
  width:200px;
  height:30px;
  font-size: 20px;
  color: white;
  background-color: #739D69;
  border: 1px #739D69;
  border-radius: 5px;
  cursor: pointer;
}

.LoginButton:hover{
  color: white;
  background-color: #618559;
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition-duration: 0.3s
}

.form-group {
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

.form-group label {
  display: block;
  font-size: 1rem;
  margin-bottom: 8px;
  color: grey;
}

.form-group input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group input:focus {
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-group input:hover {
  border-color: #007BFF;
}
.underline{
  text-decoration: underline;
  font-weight: bold;
}

.Register{
  padding-top: 10px;
  color: cornflowerblue;
  text-decoration: none;
}
.Register:hover{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
