<form [formGroup]="filtersForm" class="filter-container">
  <div class="filter-title">Filters</div>
  <div class="filter-grid">
    <div class="filter-row">
      <label for="name" class="filter-label">Name:</label>
      <input id="name" formControlName="searchItemControl" placeholder="Search" class="filter-input">
    </div>
    <div class="filter-row">
      <label class="filter-label">Media Type:</label>
      <ng-multiselect-dropdown
        [settings]="settings"
        [formGroup]="filtersForm"
        [placeholder]="'Select Media Type'"
        [data]="mediaTypes"
        [disabled]="false"
        (onSelect)="onItemSelect($event, 'mediaType')"
        (onDeSelect)="onDeSelect($event, 'mediaType')"
        (onSelectAll)="onSelectAll('mediaType')"
        (onDeSelectAll)="onDeSelectAll('mediaType')">
      </ng-multiselect-dropdown>
    </div>
    <div class="filter-row">
      <label for="publicationYear" class="filter-label">Publication Year:</label>
      <input id="publicationYear" formControlName="publicationYearControl" placeholder="N/A" class="filter-input">
    </div>
    <div class="filter-row">
      <label class="filter-label">Location:</label>
        <ng-multiselect-dropdown
          [settings]="settings"
          [formGroup]="filtersForm"
          [placeholder]="'Select Location'"
          [data]="branches"
          [disabled]="false"
          (onSelect)="onItemSelect($event, 'branches')"
          (onDeSelect)="onDeSelect($event, 'branches')"
          (onSelectAll)="onSelectAll('branches')"
          (onDeSelectAll)="onDeSelectAll('branches')">
        </ng-multiselect-dropdown>
    </div>
    <div class="filter-row">
      <label class="filter-label checkbox-label">
        <input type="checkbox" formControlName="availableControl" class="filter-checkbox">
        Available
      </label>
    </div>
  </div>
  <button type="submit" class="filter-button" (click)="filter()">Apply Filters</button>
</form>
