<!--Need to add header in here similar to app -->
<mat-sidenav-container autosize>
  <mat-sidenav #sidenav class="side-nav" mode="side" opened="true">
    <mat-nav-list>
      <a routerLink="/user-media" (click)="sidenav.close()">
        <mat-list-item>
          <i class="material-icons">search</i>
          Media Search
        </mat-list-item>
      </a>

      <a routerLink="/Media-Return" (click)="sidenav.close()">
        <mat-list-item>
          <i class="material-icons">loop</i>
          Media Return
        </mat-list-item>
      </a>

      <a routerLink="#" (click)="sidenav.close()">
        <mat-list-item>
          <i class="material-icons">person</i>
          My Profile
        </mat-list-item>
      </a>

      <a routerLink="#" (click)="sidenav.close()">
        <mat-list-item>
          <i class="material-icons">inventory</i>
          Manage Inventory
        </mat-list-item>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <div class="sidenav">
    <button type="button" mat-button (click)="sidenav.toggle()">
      <i class="material-icons">menu</i>
    </button>
  </div>



  <!-- Component wrapped here -->
  <router-outlet />
</mat-sidenav-container>
